a {
    color: inherit;
    text-decoration: underline;
}

#ex1 img.fons {
    width: 100%;
    height: 10%;
}

#ex1 img.nau {
    /* per colocar la nau necessitem posició absoluta */
    position: absolute;

    /* tamany percentual, si volem que la mida es reajusti en redimensionar la finestra */
    width: 12%;

    /* ajustar posició horitzontal per col·locar-lo al centre */
    left: 50%;
    transform: translateX(-50%);

    /* animació */
    animation: marxa-nau 6s linear forwards;
}

@keyframes marxa-nau {
    0% {
        top: -25%;
    }
    50% {
        top: 50%;
        animation-timing-function: ease-out;
    }
    100% {
        top: 120%;
    }
}
